# === Direct dependencies ===

# Web scraping
beautifulsoup4==4.14.3
curl_cffi==0.15.0
lxml==6.0.2
playwright==1.58.0
playwright-stealth==1.0.6

# Fuzzy matching
rapidfuzz==3.14.5

# Reader web app
fastapi
uvicorn[standard]
pydantic
